{% extends 'pages/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
<title>Edição</title>
{% endblock%}

{% block content %}
    <div class="m-2">
        <h3>Edição</h3>
        <p>Preencha todos os campos.</p>
    </div>
    
    <hr>

    <form class="m-2" method="POST" action="">

        {% csrf_token %}

        <div class="row">
            {{ form|crispy }}
        </div>

        <button type="submit" class="btn btn-primary" >Editar</button>
    </form>
{% endblock%}

