{% extends 'pages/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
<title>Cadastro</title>
{% endblock%}

{% block content %}
    <div class="m-2">
        <h3>{{ header }}</h3>
        <p>Preencha todos os campos.</p>
    </div>
    
    <hr>

    <form class="m-2" method="POST" action="" 
    {%if exist_file %}
    enctype="multipart/form-data"
    {% endif %}
    >

        {% csrf_token %}

        <div class="row">
            {{ form|crispy }}
        </div>

        <button type="submit" class="btn btn-primary" >Cadastrar</button>
    </form>
{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
{% endblock %}
{% endblock%}

