body{
    background-color: rgb(235, 217, 217);
}
.dropdown-menu a:hover, .navbar-collapse a:hover{
    border-radius: 5px;
    background-color: #116b41;
}
footer {
    position: fixed;
    bottom:0;
    left:0;
}